:host {
	--header-background-colour: #EEEEEE;
	--header-background-hover: #00000011;
	--header-border-colour: #EAEAEA;
	--header-text-colour: #555555;
	--header-text-disabled-colour: #555555B9;
}

header {
	z-index: 100;
	display: block flex;
	flex-direction: column;
	position: fixed;
	top: 0; bottom: calc(100% - 32px);
	left: 0; right: 0;
	width: 100%;
}

