:root {
	--bg: #f6f8fa;
	--text: #222;
	--muted: #6b7280;
	--border: #e5e7eb;
	--accent: #0d6efd;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
}

header {
	--topbar-background-color: #EEEEEE;
	--topbar-border-color: #EAEAEA;
	--topbar-text-color: #555555;
	--topbar-hover-background-color: #DDDDDD;

	z-index: 100;
	display: block flex;
	flex-direction: column;
	position: fixed;
	top: 0; bottom: calc(100% - 32px);
	right: 0; left: 0;
	width: 100%;
}

main {
	z-index: 0;
	display: block;
	position: fixed;
	top: 32px; bottom: 32px;
	right: 0; left: 0;
	width: 100%;
}

footer {
	z-index: 100;
	display: block;
	position: fixed;
	top: calc(100% - 16px); bottom: 0;
	right: 0; left: 0;
	width: 100%;
	padding-left: 3px;
	font-weight: 100;
	font-size: 12px;
	color: #7F7F7F;
}

#topbar {
	z-index: 101;
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 32px;
	max-height: fit-content;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: var(--topbar-background-color);
	border: 0 solid var(--topbar-border-color);
	border-bottom-width: 1px;
}

#topbar #topbar-inno-logo {
	z-index: inherit;
	height: 22px;
	vertical-align: middle;
	align-self: flex-start;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#topbar #menu-bar {
	z-index: inherit;
	display: inline-block;
	width: fit-content;
	height: inherit;
	margin-top: 5px;
	margin-bottom: 4px;
}

#topbar #menu-bar ul {
	z-index: inherit;
	display: flex;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

#topbar #menu-bar ul .menu-list-item {
	z-index: inherit;
	display: block;
	width: auto;
	padding-top: 0; padding-bottom: 3px;
	padding-left: 5px; padding-right: 5px;
	border-radius: 0;
	border: 0;
	text-align: center;
	font-size: 16px;
	font-family: monospace;
	font-weight: 500;
	color: var(--topbar-text-color);
	text-underline-offset: 5px;
	cursor: pointer;
}

#topbar #menu-bar ul .menu-list-item:hover {
	background-color: var(--topbar-hover-background-color);
}

#topbar #menu-bar ul .menu-list-item.selected {
	text-decoration: underline;
}

#menu-panel-container {
	z-index: 105;
	display: flex;
	position: relative;
	z-index: 998;
	left: 32px;
	max-width: fit-content;
	height: fit-content;
}

#menu-panel-container .menu-panel {
	z-index: inherit;
	display: none;
	list-style-type: none;
	position: fixed;
	max-width: fit-content;
	height: fit-content;
	padding-left: 0;
	padding-top: 3px; padding-bottom: 3px;
	margin: 0;
	background-color: var(--topbar-background-color);
	border: 1px solid var(--topbar-border-color);
}

#menu-panel-container .menu-panel.opened {
	display: block;
}

#menu-panel-container .menu-panel .menu-panel-section {
	z-index: inherit;
	display: block;
	width: 100%;
	height: fit-content;
	padding-top: 2px; padding-bottom: 2px;
	padding-left: 3px; padding-right: 3px;
	border-bottom: 1px solid #C8C8C8;
}

#menu-panel-container .menu-panel .menu-panel-item {
	z-index: inherit;
	display: block;
	width: 100%;
	height: fit-content;
	margin-top: 2px; margin-bottom: 2px;
	padding-top: 0; padding-bottom: 0;
	padding-left: 3px; padding-right: 3px;
	border: 0;
	border-radius: 0;
	text-align: left;
	font-size: 16px;
	font-family: monospace;
	font-weight: 500;
	color: var(--topbar-text-color);
	text-underline-offset: 5px;
	cursor: pointer;
}

#menu-panel-container .menu-panel .menu-panel-item:hover {
	background-color: var(--topbar-hover-background-color);
}

#menu-panel-container .menu-panel .menu-panel-item.selected {
	text-decoration: underline;
}