body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
}

.topbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 32px;
	max-height: fit-content;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #EEEEEE;
	border: 0 solid #EAEAEA;
	border-bottom-width: 1px;
}

.topbar img {
	height: 22px;
	vertical-align: middle;
	align-self: flex-start;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.topbar .menu-bar {
	display: inline-block;
	width: fit-content;
	height: inherit;
	margin-top: 5px;
	margin-bottom: 4px;
}

.topbar .menu-bar ul {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.topbar .menu-bar ul .menu-list-item {
	display: block;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-top: 0;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	font-family: monospace;
	font-weight: 500;
	color: #555555;
	text-underline-offset: 5px;
}

.topbar .menu-bar ul .menu-list-item.selected {
	text-decoration: underline;
}

.topbar .menu-bar ul .menu-list-item:hover {
	background-color: #DDDDDD;
}